table {
    border-collapse: collapse;
}

/* Стилі для клітинок */
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    height: 80px;
    width: 80px;
}

#colorPicker{
    display: none;
}

td{
    user-select: none;
}